html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 15px auto;
  text-align: center;
  font-size: 60px;
}

h2 {
  margin: -30px auto 10px auto;
  text-align: center;
  letter-spacing: 15px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;

}

.one {
  background-color: orange;
  max-width: 400px;
  margin-left: auto;
}

.two {
  background-color: orange;
  max-width: 400px;
  margin-right: auto;
}
